@model HastaneProjesi.Models.Poliniklik

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/Sablon.cshtml";
}
<br />

<h3>Silmek İstiyormusunuz?</h3>
<div>
    <h4>Poliniklik</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PolinikAd)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PolinikAd)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Hastaneler)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Hastaneler.Ad)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Sil" class="btn btn-danger" /> |
        <a asp-action="Index">Listeye Geri Dön</a>
    </form>
</div>
