
@{
    ViewData["Title"] = "AccessDenied";
    Layout = "~/Views/Shared/Sablon.cshtml";
}

<h2 class="text-danger text-center">..::HATA::..</h2>
<h4 class="text-danger text-center">Bu sayfaya Erişim Hakkınız Yoktur..</h4>

