@model HastaneProjesi.Models.HastaSikayeti

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/Sablon.cshtml";
}

<br />
<div>
    <h4>HastaSikayeti</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HastaSikayet)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HastaSikayet)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HastaKabul)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HastaKabul.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index" class="btn btn-success">Listeye Geri Dön</a>
</div>
